/*Police d'écriture de la page*/
html{
	font-style: 'Calibri';
}

/*Mis en page du titre de la page*/
h1{
	text-align: center;
	color: black;
}

/*Taille des images + ombre*/
img{
	width: 75px;
	height: 75px;
	box-shadow: 0px 0px 10px 3px rgba(162, 162, 162, 0.76);
	-moz-box-shadow: 0px 0px 10px 3px rgba(162, 162, 162, 0.76);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(162, 162, 162, 0.76);
}

/*Mise en page du grid : Cadre / Taille des colonnes & lignes & espacements inter-colonne&lignes*/
.grid-container{
	justify-content: center;
	margin-left: 2%;
	/*margin-right: 5%;*/
	display: grid;
	grid-template-rows: repeat(4,100px);
	grid-template-columns: repeat(4,100px);
}
.grid-container>div>a {
  position: relative;
}

/*Relancer une partie*/
.partie{
	text-align: center;
	color: black;
	text-decoration: none;
}

/*Mise en page du pied de page*/
footer>p{
	color: black;
	text-align: center;
	font-style: italic;
	font-size: 10px;
}